li a {
  display: block;
}

li a:hover {
  background-color: #555;
  color: white;
}
.handSignalContent{
    margin-top: 100px;
    padding-bottom: 50px;
    font-size: x-large;
}
/* img{
	align-content: center;
    width: 300px;
    height: 300px;
    padding:10px;
} */
.learnHeader{
    padding:20px;
}
.learnContent{
    padding-left:20px;
}
.learnNote{
    text-align: center;
}

/* #learnFreeKick img{
    width: 500px;
    height: 300px;
    padding:10px;

} */
.center {
  text-align: center;
}
.text_h4{
  font-size: 25px;
  display: inline-block;
}
.heading{
  color: var(--theme_blue);
	text-align: left;
  font-family: "title-font";
  font-size: 37px;
  margin-left: 30px;
  margin-bottom: 40px;
  padding: 0 5px;
  border: 2px var(--theme_blue);
  border-style: solid none;

}
.vertical_center{
  display: table;
  text-align: center;
}
.vertical_center p{
  display: table-cell;
  vertical-align: middle;
}
.media{
  max-height: 250px;
  width: 100%;
  padding: 0px;
  width: auto;
  height: auto;
  margin: auto;
  /* box-shadow: 6px 6px 4px 3px rgba(93, 93, 93, 0.578); */
}
.usercard{
  margin: 1px;
  color: rgba(255, 255, 255, 0.879);
  border-radius: 5px;
}
.usercard_content{
  font-size: 20px;
}
.usercard2{
  margin-top: 10px;
  margin-left: 10px;
  padding: 8px;
  padding-left: 15px;
  background-color: rgba(255, 255, 255, 0.069);
  border-radius: 5px;
  border: 4px rgba(120, 230, 252, 0.209);
  border-style: none solid solid none;
  height: 100%;
}
.card2_title{
  font-size: 28px;
  font-family: "title2-font";
  margin-bottom: 4px;
  color: var(--theme_blue);
}
.card2_content{
  margin-left: 25px;
}
hr{
  border-color: rgba(172, 241, 255, 0.209);
  margin: 5px;
}
.btn_div{
  margin-left: auto;
  margin-right: 30px;
}

.footer{
  height: 15px;
}
