:root {
  --theme_blue: rgba(172, 241, 255, 0.567);
  --theme_blue_dark: rgba(140, 202, 214, 0.567);
}

body{
    background: url(background.jpg); /* fallback */
    background: linear-gradient(to right, rgba(0, 0, 0, 0.825) 0%,rgba(36, 36, 36, 0.948) 90%), url(background.jpg);
    /* background: url('background.jpg') no-repeat center center, linear-gradient(rgba(236, 228, 228, 0.045), rgba(222, 214, 214, 0.838), 0.5); */
    background-size: cover;
    background-attachment: fixed;
    background-color: black;
    color: white;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 200;
}

.web-title{
    text-align: center;
    margin: auto;
    margin-top: 100px;
}
.introduction{
    text-align: left;
    margin: 50px;
}
.mainPage{
    padding-top: 30px;
    height: 100vh;
}
.bar{
    display: block;
    font-size: 15px;
}
.bar:hover{
  cursor: pointer;
}
.choice_button{
    margin: auto;
    text-align: center;
    margin-top: 100px;
}
.navbar{
    background-color: rgba(86, 120, 152, 0.829);
    color: white;
}
.nav-title{
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
}
.nav-right{
    display: inline-block;
    position: absolute;
    right: 0px;
}
.navbar-secondary-brand{
    font-size: 20px;
    padding-right: 30px;
}
.warning_message{
    font-size: 15px;
    color: rgb(224, 117, 117);
}
.next{
    color: white;
    background: green;
    padding: 7px 10px;
    border-radius: 4px;  
    font-size: 19px;
}
.page_btn{
  background-color: var(--theme_blue);
  color: white;
  border-radius: 20px;
  border: none;
  text-decoration: none;
  padding: 10px 15px;
  margin: 10px;
}
.page_btn:hover{
  background-color: var(--theme_blue_dark);
  text-decoration: none;
  color: white;
  cursor: pointer;
}

@font-face {
  font-family: 'title-font';
  src: url("../static/font/ELEPHNT.TTF");
}
@font-face {
  font-family: 'title2-font';
  src: url("../static/font/HGH5_CNKI.ttf");
}
    

.active {
    color:            #F8F8F8;
    background-color: #4f81bd;
}