:root{
  --correct_color: rgba(142, 210, 142, 0.701);
  --wrong_color: rgba(239, 160, 160, 0.701);
}

.center{
  text-align: center;
}
.green_box{
    background-color: var(--correct_color);
}
.red_box{
    background-color: var(--wrong_color);
}
.yellow_box{
    background-color: rgba(243, 240, 222, 0.701);
}

.status_box{
    position: absolute;
    right: 100px;
    margin: 50px;
    bottom: 50px;
}
.quiz_status_box{
    height: 40px;
    width: 40px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    margin: 3px;
}

li{
	list-style-type: none;
}