:root{
  --correct_color: rgba(142, 210, 142, 0.701);
  --wrong_color: rgba(239, 160, 160, 0.701);
}
.score_icon{
  position: absolute;
  right: 18px;
  top: 6px;
}
.score_icon img{
  height: 61px;
  width: 83px;
}
label{
  margin: 5px;
  padding: 0px 5px;
  display: inline;
}

.quiz_question{
    font-size: 25px;
    margin: 20px 60px;
    padding: 0px 100px;
    /* margin-bottom: 20px; */
}
.right{
  margin: 30px 50px 0px auto;
}
.choices{
    margin: 50px 30px 100px 90px;
    padding-left: 90px;
    font-size: 20px;
}
.drag_choices{
    padding: 50px 100px;
    text-align: center;
}
.green_box{
    background-color: var(--correct_color);
}
.red_box{
    background-color: var(--wrong_color);
}
.yellow_box{
    background-color: rgba(243, 240, 222, 0.701);
}

#quiz_media{
    width: 80%;
    height: 80%;
}

#quiz_action_button{
    margin-top: 50px;
}
.status_box{
    position: absolute;
    right: 100px;
    margin: 50px;
    bottom: 50px;
}
.quiz_status_box{
    height: 40px;
    width: 40px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    margin: 3px;
}

.correct_choice{
    background-color: var(--correct_color);
    border-radius: 5px;
    padding-right: 5px;
}
.wrong_choice{
    background-color: var(--wrong_color);
    border-radius: 5px;
    padding-right: 5px;
}
.drag_answer{
    background-color: var(--correct_color);
    width: 190px;
    text-align: center;
    border-radius: 5px;
    margin: auto;
}
.drag_answer.correct{
  background-color: var(--correct_color);
}
.drag_answer.wrong{
  background-color: var(--wrong_color);
}

.drag_option{
    /* background-color: rgb(70, 96, 119); */
    /* width: 170px; */
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    /* display: inline-block; */
}
.drag_img{
    padding: 0px 10px;
    /* max-height: 300px; */
    aspect-ratio: 0.7;
    width: 70%;
}
.drop_div{
    width: 98%;
    height: 40px;
    margin-top: 10px;
    border-style: dotted;
    border-radius: 5px;
    border-color: rgb(70, 96, 119);
}
.drag_div{
    border-style: dotted;
    border-radius: 1px;
    border-color: rgba(70, 96, 119, 0.122);
}
.answer_div{
    display: inline-block;
}