.quiz_question{
    font-size: 25px;
    margin: 100px;
    margin-bottom: 20px;
}
.choices{
    margin: 50px 30px 100px 100px;
    font-size: 20px;
}
.green_box{
    background-color: rgba(142, 210, 142, 0.701);
}
.red_box{
    background-color: rgba(239, 160, 160, 0.701);
}
.yellow_box{
    background-color: rgba(243, 240, 222, 0.701);
}

#quiz_media{
    width: 70%;
    height: 70%;
}

#quiz_action_button{
    margin-top: 50px;
}
.status_box{
    position: absolute;
    right: 100px;
    margin: 50px;
    bottom: 50px;
}
.quiz_status_box{
    height: 40px;
    width: 40px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    margin: 3px;
}

.correct_choice{
    background-color: rgba(178, 235, 178, 0.797);
    border-radius: 5px;
    padding-right: 5px;
}
.wrong_choice{
    background-color: rgba(239, 160, 160, 0.701);
    border-radius: 5px;
    padding-right: 5px;
}
.correct_drag_answer{
    background-color: rgba(178, 235, 178, 0.797);
    width: 190px;
    text-align: center;
    border-radius: 5px;
    margin: 10px;
}

.drag_option{
    background-color: rgb(70, 96, 119);
    width: 200px;
    height: 40px;
    border-radius: 4px;
    margin: 20px;
    text-align: center;
}
.drag_option:hover{
    background-color: rgb(99, 128, 153);
    cursor: move;
}
.drag_img{
    width: 200px;
    height: 300px;
    margin: 10px;
}
.drop_div{
    width: 200px;
    height: 70px;
    margin: 10px;
    border-style: dotted;
    border-radius: 5px;
    border-color: rgb(70, 96, 119);
}
.answer_div{
    display: inline-block;
}