<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Soccer Referee Tutorial</title>

    <!-- JQuery -->
    <script src=https://code.jquery.com/jquery-3.3.1.min.js crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <!--Popper JS  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <!-- My files -->
    <link type="text/css" href="{{ url_for('static', filename='main.css')}}" rel="stylesheet">

</head>

<body>
    <div class="container-fluid">
        <div class="row mainPage">
            <div class="col-md-10 col-sm-9">
                {% block content %}
                {% endblock %}
            </div>
            <div class="col-md-2 col-sm-3">
                <button class="bar"> Introduction </button>
                <button class="bar"> Handsignal </button>
                <button class="bar"> Free kicks </button>
                <button class="bar"> Other signals </button>
                <button class="bar"> Offsides </button>
                <button class="bar"> Yellow Card </button>
                <button class="bar"> Red Card </button>
                <button class="bar"> Quiz </button>
            </div>
        </div>
    </div>
    <!-- <nav class="navbar navbar-expand-lg ">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a id="welcome" class="nav-link mynav" href="/">Book Library</a>
            </li>
        </ul>
        <div class="search_bar form-inline">
            <form class="my-2 my-lg-0" method="post" action="/search_result" id="search_form">
                <input class="form-control mr-sm-2" placeholder="Search for a book" name="search_key" id="search_box">
                <button class="btn btn-outline-secondary nav_btn" id="search_btn" type="button">Search</button>
            </form>
            <button class="btn btn-outline-secondary nav_btn" onclick="window.location.href='/add'" id="add_btn">Add Item</button>
        </div>
    </nav> -->
    
</body>
</html>