{% extends "learnLayout.html" %}

{% block content %}

<script src="{{ url_for('static', filename='learn.js')}}"></script>
<link type="text/css" href="{{ url_for('static', filename='learn.css')}}" rel="stylesheet">


<div class="container-fluid" id="Offsides"> 
	
    <h1 class="heading">Offsides</h1>
    <div class="row usercard">
        <div class="col-md-6 vertical_center usercard_content">
          <p>An <span class="text_h4">'offside'</span> is the result of an attacking player getting closer to the opponent's goal line than both the ball and the last defender.</p>
        </div>
        <div class="col-md-6 pr-0 pl-3">
          <img class="media2" src="../static/offside_1.jpg">
        </div>
      </div>
    <!-- <iframe width="600" height="450" src="https://www.youtube.com/embed/GePlbCsGniA"> </iframe><br> -->
    <div class="col-md-12 p-2">
        <div class=" usercard2">
          <div class="card2_title">What happens</div>
          <div class="card2_content"> The purpose behind the offside rule is to prevent attackers from waiting too close to the goal.</div> <hr>
          <div class="card2_content"> If the attacker is on the opposing half of the field, and if any part of their head, torso, or legs are over the offside line, they will be judged offside. <br>
          </div>
        </div> 
    </div>
   
    <!-- <div id="recordline"></div> -->
    <br>
    
    <div style="text-align:right">   
        <a href="/learn/goal" class="next">&laquo; Previous</a>
        <a href="/learn/offsides_2" class="next">Next &raquo;</a>
    </div> 
</div>

{% endblock %}