{% extends "learnLayout.html" %}

{% block content %}

<script src="{{ url_for('static', filename='learn.js')}}"></script>
<link type="text/css" href="{{ url_for('static', filename='learn.css')}}" rel="stylesheet">


<div class="container-fluid" id="learnGoal"> 
    <div class='row'>
      <div class=" heading">Goal</div>  
    </div>
    <div class="row usercard">
      <div class="col-md-6 vertical_center usercard_content">
        <p> To score a goal in soccer the ball must travel over the goal line between the goalposts and under the crossbar at either end of the field. A player can use any part of their body, except their hands or arms, to score a goal.</p>
      </div>
      <div class="col-md-6 pr-0 pl-3">
        <img class="media" src="../static/goal.gif">
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-6 p-1">
        <div class=" usercard2">
          <div class="card2_title">Awarded For</div>
          <div class="card2_content"> A goal is scored in soccer when the ball completely passes over the goal line, between the goalposts, and beneath the crossbar at either end of the soccer field. </div>
        </div>
      </div>
      <div class="col-md-6 p-1">
        <div class=" usercard2">
          <div class="card2_title">Referee Signals</div>
          <div class="card2_content">The whistle is usually blown to signal a goal</div> <hr>
          <div class="card2_content">The referee points at the center circle with his arm pointed down</div> <hr>
        
        </div> 
      </div>
      <div class="col-md-6 p-1">
        <div class=" usercard2">
          <div class="card2_title">What happens</div>
          <div class="card2_content">The score increases by 1 for the team which scored the goal.</div> <hr>
          <div class="card2_content">The play is restarted with a kick-off from the center circle by the side which conceded the goal.</div>
        </div> 
      </div>
      
    </div>




    <br>
    
    <div style="text-align:right">   
        <a href="/learn/advantage" class="next">&laquo; Previous</a>
        <a href="/learn/offsides" class="next">Next &raquo;</a>
    </div> 

    
</div>

{% endblock %}