{% extends "learnLayout.html" %}

{% block content %}

<script src="{{ url_for('static', filename='learn.js')}}"></script>
<link type="text/css" href="{{ url_for('static', filename='learn.css')}}" rel="stylesheet">


<div class="container-fluid" id="learnFreeKick"> 
  <div class='row'>
    <div class=" heading">Indirect Free Kicks</div>  
  </div>
  <div class="row">
    <div class="col-md-6 ">
      <div class="usercard">
        <div class="mt-3 mb-5">
          <img class="media" src="../static/indirectfreekick.gif" alt="Picture of indirect free kick signal">
        </div>
        <div class="vertical_center usercard_content">
          <p> <span class="text_h4">'Free kick'</span> is exactly how it sounds. A player gets to kick the ball without any players opposing them. 
            An indirect kick means that another player must touch the ball before a goal can be scored. </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 p-1">
      <div class=" usercard2"  style="height: auto;">
        <div class="card2_title">Awarded For</div>
        <div class="card2_content">Offside</div> <hr>
        <div class="card2_content">Illegal handling by the goalkeeper within the penalty area</div><hr>
        <div class="card2_content">Errors by the goalkeeper like holding the ball for more than 6 seconds</div><hr>
      </div>
      <div class=" usercard2"  style="height: auto;">
        <div class="card2_title">Referee Signals</div>
        <div class="card2_content">Whistle blown</div> <hr>
        <div class="card2_content">Empty hand points to the sky </div> <hr>
        <div class="card2_content">Pointed team receives indirect free kick</div>
      </div> 
      <div class=" usercard2" style="height: auto;">
        <div class="card2_title">What happens</div>
        <div class="card2_content">If a player scores from an indirect free-kick, the goal won’t count.</div> <hr>
        <div class="card2_content">But if a player taking an indirect free kick passes to another player, and that player scores a goal, the goal will count.</div>
        </div> 
    </div>
  </div>
    <br>


    <br>
    
    <div style="text-align:right">   
        <a href="/learn/freeKick" class="next">&laquo; Previous</a>
        <a href="/learn/penaltyKick" class="next">Next &raquo;</a>
    </div> 
</div>

{% endblock %}