{% extends "learnLayout.html" %}

{% block content %}

<script src="{{ url_for('static', filename='learn.js')}}"></script>
<link type="text/css" href="{{ url_for('static', filename='learn.css')}}" rel="stylesheet">


<div class="container" id="learnFreeKick"> 
    <h1 class='heading'>Advantage</h1>
    <div class="row learn">
        <div class="col-md-12">
            <img src="../static/advantage.gif" class="center">
        </div>
        <!-- <div class="col-md-6">
            <h2>
                Indirect
            </h2>
            <img src="../static/directfreekick.gif">
        </div> -->
    </div>

    <div class="row learnContent">
        <div class="col-md-6">
            <h3>Common scenarios</h3>
            An advantage is given when a foul and stoppage in play would actually be harmful to the offended team, as determined by the discretion of the official. The official is permitted to disregard the foul and let the game continue.
        
        </div>

        <div class="col-md-6">
            <h3>Hand Signals</h3>
                <ul>
                <li>Both arms put out parallelly</li>
                <li>Pointing to the goal of the team that has the advantage. </li>
            </ul>
        </div>


            <!-- <div class="col-md-6">
            
        </div> -->
    </div>

    <div class="row learnNote">
        <div class="col-md-12">
            Referee does not blow the whistle for this signal.
        </div>
        <!-- <div class="col-md-6">
            Common causes: a goalkeeper commits a specific offense in his or her own penalty area. 

        </div> -->
        
    </div>

    <br>
    
    <div style="text-align:right">   
        <a href="/learn/cornerKick" class="next">&laquo; Previous</a>
        <a href="/learn/goal" class="next">Next &raquo;</a>
    </div> 
</div>

{% endblock %}