{% extends "learnLayout.html" %}

{% block content %}

<script src="{{ url_for('static', filename='learn.js')}}"></script>
<link type="text/css" href="{{ url_for('static', filename='learn.css')}}" rel="stylesheet">


<div class="container-fluid" id="learnFreeKick">
    <div class='row'>
      <div class=" heading">Substitution</div>  
    </div>
    <div class="row usercard">
      <div class="col-md-6 vertical_center usercard_content">
        <p>A substitute is a player who is brought on to the pitch during a match in exchange for an existing player </p>
      </div>
      <div class="col-md-6 pr-0 pl-3">
        <img class="media" src="../static/substitution.gif">
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-6 p-1">
        <div class=" usercard2">
          <div class="card2_title">Common scenarios</div>
          <div class="card2_content">A substitution in football is a player that is replaced by another player from the sideline on the same team. Football teams can only have 11 players on the field of play for a down.</div>
          <div class="card2_content">A team is usually allowed 3 substitutions.</div>
          
        </div>
      </div>
      <div class="col-md-6 p-1">
        <div class=" usercard2">
          <div class="card2_title">Referee Signals</div>
          <div class="card2_content">Assistant Referee Signals to the referee by holding his flag overhead with both hands. </div> <hr>
          <div class="card2_content">Referee then blows his whistle and signals the assistant referee to allow the substitution to happen.</div> <hr>
          <div class="card2_content">A new player can come into the field of play only when the player being substituted has left the field.</div> <hr>  
        </div> 
      </div>
    </div>

    <br>
    
    <div style="text-align:right">   
        <a href="/learn/var" class="next">&laquo; Previous</a>
        <a href="/learn/throwin" class="next">Next &raquo;</a>
    </div> 
</div>

{% endblock %}