{% extends "learnLayout.html" %}

{% block content %}

<script src="{{ url_for('static', filename='learn.js')}}"></script>
<link type="text/css" href="{{ url_for('static', filename='learn.css')}}" rel="stylesheet">


<div class="container" id="learnFreeKick"> 
    <h1 class='heading'>Indirect Free Kicks</h1>
    <div class="row learn">
        <div class="col-md-12">
            <img src="../static/indirectfreekick.gif" class="center">
        </div>
        <!-- <div class="col-md-6">
            <h2>
                Indirect
            </h2>
            <img src="../static/directfreekick.gif">
        </div> -->
    </div>

    <div class="row learnContent">
        <div class="col-md-6">
            <h3>Scenarios</h3>
            <ul>
                <li>Offside </li>
                <li>Illegal handling by the goalkeeper within the penalty area</li>
                <li>Preventing the goalkeeper from releasing the ball from the hands</li>
            </ul>
        
        </div>

        <div class="col-md-6">
            <h3>Hand Signals</h3>
                <ul>
                    <li>Whistle blown</li>
                    <li>Empty hand points to the sky </li>
                    <li>Referee then explains who is receiving the free kick and for what. </li>
            </ul>
        </div>

            <!-- <div class="col-md-6">
            
        </div> -->
    </div>

    <div class="row learnNote">
        <div class="col-md-12">
            Play stops only once the referee blows the whistle. 
        </div>
        <!-- <div class="col-md-6">
            Common causes: a goalkeeper commits a specific offense in his or her own penalty area. 

        </div> -->
    </div>
</div>

{% endblock %}