{% extends "learnLayout.html" %}

{% block content %}

<script src="{{ url_for('static', filename='learn.js')}}"></script>
<link type="text/css" href="{{ url_for('static', filename='learn.css')}}" rel="stylesheet">


<div class="container" id="learnCornerKick"> 
    <h1 class='heading'>Throw-In</h1>
    <div class="row learn">
        <div class="col-md-12">
            <img src="../static/throwin.gif" class="center">
        </div>
    </div>

    <div class="row learnContent">
        <div class="col-md-6">
            <h3>Common scenarios</h3>
            <ul>
                <li> A throw-in is awarded to the opponents of the player who last touched the ball when the whole of the ball passes over the touchline, on the ground or in the air.</li>
            </ul>
        </div>

        <div class="col-md-6">
            <h3>Hand Signals</h3>
                <ul>
                    <li>Points in the direction the throw is to be taken</li>
                    <li> The team attacking in the direction they are pointing takes the throw.</li>
            </ul>
        </div>
    </div>


    <a href="/finishtutorial" class="next">Next &raquo;</a>     
</div>

{% endblock %}