{% extends "learnLayout.html" %}

{% block content %}

<script src="{{ url_for('static', filename='learn.js')}}"></script>
<link type="text/css" href="{{ url_for('static', filename='learn.css')}}" rel="stylesheet">


<div class="container" id="learnFreeKick"> 
    <h1 class='heading'>Indirect Free Kicks</h1>
    <div>
        A ‘free kick’ is exactly how it sounds. A player gets to kick the ball without any players opposing them. 
        An indirect kick means that another player must touch the ball before a goal can be scored.

    </div>
    <div class="row learn">
        <div class="col-md-12">
            <img src="../static/indirectfreekick.gif" class="center">
        </div>
        <!-- <div class="col-md-6">
            <h2>
                Indirect
            </h2>
            <img src="../static/directfreekick.gif">
        </div> -->
    </div>

    <div class="row learnContent">
        <div class="col-md-6">
            <h3>Awarded For</h3>
            <ul>
                <li>Offside </li>
                <li>Illegal handling by the goalkeeper within the penalty area</li>
                <li>Preventing the goalkeeper from releasing the ball from the hands</li>
                <li>Errors by the goalkeeper like holding the ball for more than 6 seconds</li>
            </ul>
        
        </div>

        <div class="col-md-6">
            <h3>Referee Signals</h3>
                <ul>
                    <li>Whistle blown</li>
                    <li>Empty hand points to the sky </li>
                    <li>The referee decides if it’s a direct free kick or indirect free kick based on the foul a player makes. </li>
                    <li>Referee then explains who is receiving the free kick and for what.</li>
            </ul>
        </div>

            <!-- <div class="col-md-6">
            
        </div> -->
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4><center>What happens</center></h4>
            <ul>
                <li> A free-kick in soccer restarts the game after a team commits a foul. A foul is an offense and is against the soccer laws.</li>
                <li>If a player shoots and scores from an indirect free-kick, the goal won’t count. </li>
                <li>But if a player taking an indirect free kick passes to another player, and that player scores a goal, the goal will count.</li>
            </ul>       
        </div>
        <!-- <div class="col-md-6">
            Common causes: a goalkeeper commits a specific offense in his or her own penalty area. 

        </div> -->
    </div>
    <br>
    
    <div style="text-align:right">   
        <a href="/learn/freeKick" class="next">&laquo; Previous</a>
        <a href="/learn/penaltyKick" class="next">Next &raquo;</a>
    </div> 
</div>

{% endblock %}