{% extends "learnLayout.html" %}

{% block content %}

<script src="{{ url_for('static', filename='learn.js')}}"></script>
<link type="text/css" href="{{ url_for('static', filename='learn.css')}}" rel="stylesheet">


<div class="container-fluid" id="learnFreeKick">

  <div class='row'>
    <div class=" heading">Red Card</div>  
  </div>
  <div class="row">
    <div class="col-md-6 ">
      <div class="usercard">
        <div class="mt-3 mb-5">
          <img class="media" src="https://images.mlssoccer.com/image/private/t_editorial_landscape_8_desktop_mobile/mls-van-prd/tcmeu5lueocp6ixldnby.png">
        </div>
        <div class="vertical_center usercard_content">
          <p> The player is ejected from the field and is allowed no further part in the game.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 p-1">
      <div class=" usercard2" style="height: auto;">
        <div class="card2_title">Examples of offences</div>
          <div class="card2_content">One player punching another player</div> <hr>
          <div class="card2_content">Severe offences or for multiple yellow cards</div> <hr>
      </div>
      <div class=" usercard2" style="height: auto;">
          <div class="card2_title">Referee Signals</div>
          <div class="card2_content">Point the red card at them and then hold it straight up in the air, just like with a yellow card.</div> <hr> 
          <div class="card2_content">If the ref gives the player a red card for receiving 2 yellow cards, the ref will point the yellow card at them first, followed by the red card.</div>
      </div> 
    </div>
  </div>
    <br>
    
    <div style="text-align:right">   
        <a href="/learn/yellowCard" class="next">&laquo; Previous</a>
        <a href="/learn/var" class="next">Next &raquo;</a>
    </div> 
</div>

{% endblock %}