{% extends "learnLayout.html" %}

{% block content %}

<script src="{{ url_for('static', filename='learn.js')}}"></script>
<link type="text/css" href="{{ url_for('static', filename='learn.css')}}" rel="stylesheet">


<div class="container-fluid" id="learnFreeKick">
  <div class='row'>
    <div class=" heading">Check VAR</div>  
  </div>
  <div class="row">
    <div class="col-md-6 ">
      <div class="usercard">
        <div class="mt-3 mb-5">
          <img class="media" src="https://c.tenor.com/llZtvjKe0gQAAAAC/referee-var.gif">
        </div>
        <div class="vertical_center usercard_content">
          <p> VAR (Video Assistant Referee) identifies a “clear and obvious error” in the referee's decision and communicates this to the referee</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 p-1">
      <div class=" usercard2" style="height: auto;">
        <div class="card2_title">Common scenarios</div>
          <div class="card2_content">VAR will be used only for “clear and obvious errors” or “serious 			missed incidents” 
            in four match-changing situations: goals; penalty decisions; direct red-card incidents; and mistaken identity.</div>
        </div>
      <div class=" usercard2" style="height: auto;">
          <div class="card2_title">Referee Signals</div>
          <div class="card2_content">Whistle blown and two hand make a rectangle</div> <hr>
          <div class="card2_content">Points to middle line</div> <hr>
      </div> 
    </div>
  </div>
    <br>
    
    <div style="text-align:right">   
        <a href="/learn/redCard" class="next">&laquo; Previous</a>
        <a href="/learn/throwin" class="next">Next &raquo;</a>
    </div> 
</div>
{% endblock %}