{% extends "learnLayout.html" %}

{% block content %}

<script src="{{ url_for('static', filename='learn.js')}}"></script>
<link type="text/css" href="{{ url_for('static', filename='learn.css')}}" rel="stylesheet">


<div class="container-fluid" id="learnFreeKick"> 
  <div class='row'>
    <div class=" heading">Advantage</div>  
  </div>
  <div class="row">
    <div class="col-md-6 ">
      <div class="usercard">
        <div class="mt-3 mb-5">
          <img class="media" src="../static/advantage.gif">
        </div>
        <div class="vertical_center usercard_content">
          <p> An <span class="text_h4">'advantage'</span> is given when a foul and stoppage in play would actually be harmful to the offended team, as determined by the discretion of the official. </p>
      </div>
      </div>
    </div>
    <div class="col-md-6 p-1">
      <div class=" usercard2" style="height: auto;">
        <div class="card2_title">Awarded For</div>
        <div class="card2_content"> The official is permitted to disregard the foul and let the game continue.  It’s usually given when a team that has been fouled retains possession in the attacking third of the field.</div>
      </div>
      <div class=" usercard2" style="height: auto;">
        <div class="card2_title">Referee Signals</div>
        <div class="card2_content">Referee does not blow the whistle for this signal.</div> <hr>
        <div class="card2_content">Both arms put out parallelly</div> <hr>
        <div class="card2_content">Pointing to the goal of the team that has the advantage.</div>
        </div> 
      <div class=" usercard2" style="height: auto;">
        <div class="card2_title">What happens</div>
        <div class="card2_content">The game proceeds normally if the team that has been fouled retains possession.</div> <hr>
        <div class="card2_content">If the advantage does not materialize and the team that fouled obtains possession immediately, the referee blows the whistle and awards a free kick. </div>
        </div> 
    </div>
  </div>
    <br>
    
    <div style="text-align:right">   
        <a href="/learn/cornerKick" class="next">&laquo; Previous</a>
        <a href="/learn/goal" class="next">Next &raquo;</a>
    </div> 
</div>

{% endblock %}