{% extends "learnLayout.html" %}

{% block content %}

<script src="{{ url_for('static', filename='learn.js')}}"></script>
<link type="text/css" href="{{ url_for('static', filename='learn.css')}}" rel="stylesheet">


<div class="container-fluid" id="Offsides"> 

  <div class='row'>
    <div class=" heading">Offsides</div>  
  </div>
  <div class="row">
    <div class="col-md-6 ">
      <div class="usercard">
        <div class="mt-3 mb-5">
          <img src="../static/offside_2.jpg" class="media2">
        </div>
      </div>
    </div>
    <div class="col-md-6 p-1">
      <div class=" usercard2" style="height: auto;">
          <div class="card2_title">How to catch an offside</div>
          <div class="card2_content"> A player can only be offside if they are on the side of the field that contains the opposing team's goal.</div> <hr>
          <div class="card2_content"> A player can only be in an offside position if they are between the ball and the opposing goal. </div><hr>
          <div class="card2_content"> The attacker is "onside" as long as there are at least two defenders level with him or in front of him. If there are one or zero defenders between the attacker and the goal, and the attacker also meets the two conditions above, he is in an offside position.</div> <hr>
          <div class="card2_content"> The goalkeeper is usually one of the two defenders closest to the goal, but any two defenders count. </div><br>
        </div>
    </div>
  </div>
    <div style="text-align:right">   
        <a href="/learn/offsides" class="next">&laquo; Previous</a>
        <a href="/learn/yellowCard" class="next">Next &raquo;</a>
    </div> 
</div>

{% endblock %}