{% extends "learnLayout.html" %}

{% block content %}

<script src="{{ url_for('static', filename='learn.js')}}"></script>
<link type="text/css" href="{{ url_for('static', filename='learn.css')}}" rel="stylesheet">


<div class="container" id="Offsides"> 
	
    <h1 class="heading">Offsides</h1>
    <div class="col-md-12">
            <img src="../static/offside_1.jpg" class="center">
       </div>
    <!-- <iframe width="600" height="450" src="https://www.youtube.com/embed/GePlbCsGniA"> </iframe><br> -->
    The purpose behind the offside rule is to prevent attackers from waiting too close to the goal.<br>
    If the attacker is on the opposing half of the field, and if any part of their head, torso, or legs are over the offside line, they will be judged offside. 
    
    <!-- <div id="recordline"></div> -->
</div>

{% endblock %}