{% extends "learnLayout.html" %}

{% block content %}

<script src="{{ url_for('static', filename='learn.js')}}"></script>
<link type="text/css" href="{{ url_for('static', filename='learn.css')}}" rel="stylesheet">


<div class="container" id="Offsides"> 
    <h1>Offsides</h1>
    <iframe width="600" height="450" src="https://www.youtube.com/embed/GePlbCsGniA"> </iframe><br>
    <b>Foul Condition</b><br>
    <span>
        Any part of the head, body or feet is in the opponents half (excluding the halfway line) </span><br>
    </span>Any part of the head, body or feet is nearer to the opponents’ goal line than both the ball and the second-last opponent
         </span><br>
    
    <!-- <div id="recordline"></div> -->
</div>

{% endblock %}