{% extends "quizLayout.html" %}

{% block content %}

<script src="{{ url_for('static', filename='quiz.js')}}"></script>
<link type="text/css" href="{{ url_for('static', filename='quiz.css')}}" rel="stylesheet">

<script>
    let q_content = {{ques_content|tojson}}
    let q_status = {{ques_status|tojson}}
    let q_index = {{ques_index}} 
    // console.log('sss')
</script>

<div class="container" id="main_page"> 
    <div class="quiz_question"></div>
    <div class="media"></div>
    <div class="choices"></div>
    <!-- <button onclick="window.location='/'">return to homepage</button> -->
    <div class="status_box">
        <div id="submit_button"></div>
        <div id="quiz_action_button"></div>
    </div>
</div>

{% endblock %}