{% extends "quizLayout.html" %}
{% block content %}

<script src="{{ url_for('static', filename='quiz_final.js')}}"></script>
<link type="text/css" href="{{ url_for('static', filename='quiz_final.css')}}" rel="stylesheet">

<script>
    let q_status = {{ques_status|tojson}}

    // console.log(q_status)
</script>
<script>
    $('.nav-right').empty();
</script>

<div class="container-fluid">
    <div class="web-title">
        <br>
        <br>
        <br>
        <h1><center>Your score is {{score}}/7</h1><center>
        <h3><center>{{message}}<center></h3>
    </div>
    <div class="row">
      <div id="status_div" class="center col-md-12" ></div>
    </div>
    <div class="row">
      <div id="topics" class="col-md-12 center" >
          <ul id='topics_list'></ul>
      </div>
    </div>
    <br>
    <div class="choice_button">
        <button onclick="window.location='/'"  class="page_btn">Restart the tutorial</button>
    </div>
</div>

{% endblock %}