{% extends "quizLayout.html" %}

{% block content %}

<script src="{{ url_for('static', filename='quiz.js')}}"></script>
<link type="text/css" href="{{ url_for('static', filename='quiz.css')}}" rel="stylesheet">

<script>
    let q_content = {{ques_content|tojson}}
    let q_status = {{ques_status|tojson}}
    let q_index = {{ques_index}} 
    // console.log('sss')
</script>

<div class="container-fluid" id="main_page"> 
    <div class="row quiz_question"></div>
    <div class="row">
        <div class="col-md-6 choices"></div>
        <div class="col-md-4" id="media"></div>
    </div>
    
    <!-- <button onclick="window.location='/'">return to homepage</button> -->
    <div class="row">
        <div class="col-md-9"></div>
        <div class="col-md-3">
            <div id="submit_button"></div>
            <div id="quiz_action_button"></div>
        </div>
    </div>
    
</div>

{% endblock %}